<form action="/register" method="post">

    <label for="email">Email</label>
    <br>
    <input type="email" name="email" placeholder="enter your email here">
    <br>

    <label for="username">Username</label>
    <br>
    <input type="username" name="username" placeholder="enter your username here">
    <br>

    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="enter your password here">
    <br>
    
    <button type="submit">Sign Up</button>
    
    </form>